/* Personalizaciones adicionales para Tailwind */

/* Colores personalizados de la peluquería */
.bg-peluqueria {
    background-color: #0c20d1; /* navbar rojo */
}

.text-peluqueria {
    color: #2c0ed4;
}

.text-peluqueria-hover:hover {
    color: #ffd700; /* amarillo al hover */
}

/* Galería */
.gallery-img {
    border-radius: 8px;
    border: 2px solid #0c0101;
    transition: transform 0.2s, box-shadow 0.2s;
}

.gallery-img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

/* Footer personalizado */
.footer-bg {
    background-color: #0e0101;
    color: #555;
    border-top: 1px solid #050000;
}
